@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h3>@ViewData["Title"]</h3>
<hr />
<p class="text-success">You have successfuly confirmed your email! <a asp-area="Identity" asp-page="/Account/Login">Login.</a></p> 