@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h3>@ViewData["Title"]</h3>
    <hr />
    <p>You have successfully logged out of the application. <a asp-action="Index" asp-controller="Home">Go to home page.</a></p>
</header>