@model PaginatedModel<ContestSubmissionViewModel>
@{
    var paginationModel = new PaginationPartialModel()
    {
        Action = "GetById",
        Controller = "Dashboard",
        TotalPages = Model.TotalPages,
    };
}

<div class="gallery_area clearfix">
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["success"]
        </div>
    }
    <h5 style="text-align:center; color:gray;">@ViewData["Title"]</h5>
    <h5 style="text-align:center; color: cornflowerblue;">@ViewData["Category"]</h5>
    <div class="container-fluid clearfix">
        @if (Model.Model.Count == 0)
        {
            <div class="row portfolio-column" style="justify-content: center;">
                <div>
                    <h5 style="text-align:center">No image to show!</h5>
                    <div>
                        <img src="https://res.cloudinary.com/fullfraim/image/upload/v1621264858/ph35bowvd954a9jfydxe.gif" />
                    </div>
                </div>
            </div>
        }
        <div class="row portfolio-column" style="justify-content: center;">

            <div class="container-fluid clearfix">
                @if (Model.Model.FirstOrDefault().ActivePhase.Name == Constants.Phases.PhaseII)
                {
                    <h5 class="text-success">Reviewed</h5>
                    <hr>
                }
                <div class="row portfolio-column">
                    @foreach (var item in Model.Model)
                    {
                        @if (item.HasJuryGivenSubmission)
                        {
                            <partial name="~/Views/Shared/Partials/_ContestSubmissionPartial.cshtml" model="item" />
                        }
                    }
                </div>
                <br>
                <br>
                @if (Model.Model.FirstOrDefault().ActivePhase.Name == Constants.Phases.PhaseII)
                {
                    <h5 class="text-danger">Not Reviewed</h5>
                    <hr>
                }
                <div class="row portfolio-column">
                    @foreach (var item in Model.Model)
                    {
                        @if (!item.HasJuryGivenSubmission)
                        {
                            <partial name="~/Views/Shared/Partials/_ContestSubmissionPartial.cshtml" model="item" />
                        }
                    }
                </div>
                <div style="margin-top:2rem;">
                    @if (Model.Model.Count > 0)
                    {
                        <partial name="~/Views/Shared/Partials/_PagingPartial.cshtml" model="paginationModel" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
