@page
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change password";
}

<link rel="stylesheet" href="~/css/Identity/Login.css" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Success"]</p>
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@TempData["Error"]</p>
            </div>
        }
        <form id="change-password-form" method="post">
            <div class="fadeIn first" style="margin-top: 1rem;">
                <h5 style="display: inline-block">Change password</h5>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control fadeIn second" placeholder="Old password" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control fadeIn second" placeholder="New password" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control fadeIn second" placeholder="Confirm password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-sm btn-outline-primary fadeIn fourth">Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Identity/TogglePasswordView.js"></script>
    <partial name="_ValidationScriptsPartial" />
}