@using Microsoft.AspNetCore.Identity
@using FullFraim.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    .outlineText {
        color: #28bdaa !important;
        font-size: 1rem !important;
        font-weight: bold;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link outlineText" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Hello  @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link outlineText">
                Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link outlineText" asp-area="Identity" asp-page="/Account/Register">
            Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link outlineText" asp-area="Identity" asp-page="/Account/Login">
            Login
        </a>
    </li>
}
